.p-Home.header {
display: flex;
align-items: center;
background-color: transparent;
flex-direction: row;
justify-content: space-around;
font-family: DM Sans;
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 40px;
}
.p-Home.Flex2 {
display: flex;
width: 600px;
background-color: transparent;
height: 30px;
align-items: center;
font-size: 20px;
overflow: visible;
}
.p-Home.Flex3 {
display: flex;
background-color: transparent;
width: 300px;
}
.p-Home.Flex4 {
display: flex;
width: ;
height: 500px;
background-color: #ffffff;
flex-direction: row;
align-items: stretch;
justify-content: space-between;
}
.p-Home.Div3 {
background-color: transparent;
float: none;
width: 80%;
color: #000000;
padding-top: 120px;
padding-left: 90px;
}
.p-Home.Div4 {
background-color: #FF7629;
width: 35%;
position: relative;
}
.p-Home.Div5 {
height: 150px;
background-color: transparent;
padding-left: 170px;
padding-right: 170px;
padding-top: 50px;
}
.p-Home.Flex6 {
display: flex;
background-color: #ffffff;
align-items: center;
justify-content: space-around;
margin-left: ;
padding-right: 5px;
padding-left: ;
width: ;
border-color: transparent;
}
.p-Home.Div7 {
background-color: #d8edb0;
height: ;
padding-left: 50px;
padding-top: 50px;
padding-right: 50px;
padding-bottom: 50px;
}
.p-Home.Flex8 {
display: flex;
background-color: #b69d9d;
height: ;
row-gap: 20px;
flex-wrap: wrap;
column-gap: 25px;
}
.p-Home.Flex9 {
display: flex;
background-color: transparent;
height: 400px;
width: 230px;
border-radius: 20px;
outline-color: #737171;
cursor: auto;
outline-width: 3px;
outline-style: solid;
flex-direction: column;
align-items: center;
justify-content: flex-start;
flex-wrap: nowrap;
align-content: stretch;
}
.p-Home.Link1 {
;
}
.p-Home.logo {
margin-right: 20px;
}
.p-Home.TextBox2 {
color: #696969;
width: ;
font-size: ;
background-clip: text;
-webkit-background-clip: text;
float: none;
margin-right: 14px;
font-family: DM Sans;
}
.p-Home.TextBox3 {
color: #696969;
margin-right: 19px;
}
.p-Home.TextBox4 {
color: #696969;
margin-right: 19px;
}
.p-Home.TextBox5 {
color: #696969;
margin-right: 19px;
}
.p-Home.TextBox6 {
color: #696969;
}
.p-Home.Button1 {
color: #000000;
background-color: #fffdfd;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 30px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #c4c3c3;
cursor: pointer;
user-select: none;
outline-color: #c9c5c5;
width: 130px;
margin-right: 20px;
}
.p-Home.Button2 {
color: #fff;
background-color: #FF7629;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 30px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
width: 130px;
}
.p-Home.TextBox7 {
font-family: DM Sans;
font-weight: 700;
font-size: 50px;
}
.p-Home.TextBox8 {
color: #f26d16;
font-family: DM Sans;
font-size: 50px;
font-weight: 700;
}
.p-Home.TextBox9 {
width: 470px;
margin-top: 20px;
padding-bottom: 16px;
background-color: #ffffff;
color: #636262;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Button3 {
color: #fff;
background-color: #FF7629;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 30px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
width: 130px;
margin-right: 30px;
}
.p-Home.Button4 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 230px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #8c8c8c;
cursor: pointer;
user-select: none;
margin-right: ;
width: 130px;
}
.p-Home.Image3 {
width: 350px;
border-radius: 20px;
align-self: auto;
position: relative;
right: 150px;
top: 75px;
}
.p-Home.TextBox13 {
align-self: auto;
text-align: center;
margin-bottom: 20px;
font-family: DM Sans;
font-weight: 700;
font-size: 1.2rem;
}
.p-Home.Image13 {
;
}
.p-Home.Image14 {
;
}
.p-Home.Image15 {
;
}
.p-Home.Image16 {
;
}
.p-Home.TextBox15 {
text-align: center;
font-family: DM Sans;
font-weight: 700;
font-size: 1.5rem;
margin-bottom: 20px;
}
.p-Home.Flex10 {
display: flex;
flex-direction: column;
width: 230px;
height: 400px;
}
.p-Home.Flex11 {
display: flex;
width: 230px;
height: 400px;
}
.p-Home.Flex12 {
display: flex;
width: 230px;
height: 400px;
background-color: #f2d1d1;
}
.p-Home.Image17 {
outline-color: #b63a3a;
width: 100px;
align-self: center;
}
.p-Home.TextBox16 {
;
}
.p-Home.TextBox17 {
;
}
.p-Home.TextBox18 {
;
}
